@charset "UTF-8";

@media (max-width: 1195px) {
	.wrapper {
		width: 80%;
		height: 720px;
		margin: 0 auto;
	}
	
	.head {
		width: 100%;
		height: 80px;
		top: 0px;
		left: 0px;
		right: 0px;
		margin: 0px;
		padding: 0px;	
	}
	
	.head_img {
		width: 100%;
		height: 1000px;
		margin: 0px;
		padding: 0px;
		top: 0px;
		left: 0px;
		right: 0px;
	}
	
	.head_img>img {
		width: 100%;
		height: 100%;
		margin: 0px;
		padding: 0px;
	}
	
	.container {
		width: 100%;
		height: 1100px;
		margin: 0px;
	}
	
	.container>div {
		width: 100%;
		height: 20%;
		margin: 0px;
	}
	
	.head_1 {
		width: 100%;
		height: 80px;
		margin: 5px 0px 0px 0px;
		padding: 0px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		transition: all .3s linear;
	}
	
	.head_1 #head_1_item1 {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		width:40%;
		margin: 0px;
		padding: 0px;
	}
	
	.head_1 #head_1_item1 ul {
	   list-style: none;
	   padding-left: 0px;
	}
	
	.head_1 #head_1_item1 ul li {
		float: left;
		margin-right: 30px;
		color: rgb(240,240,240);
		font-size: 18px;
		font-family: AvenirNextLTW01-Medium,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,sans-serif;
		cursor: pointer;
		display: none;
	}
		
	.head_1 #head_1_item2 {
		display: flex;
		justify-content: center;
		align-items: center;
		width:20%;
		margin: 0px;
		padding: 0px;
	}
	
	.head_1 #head_1_item2>div {
		font-size: 25px;
	}
	
	
	
	.head_1 #head_1_item3 {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		width:40%;
		margin: 0px;
		padding: 0px;
	}
	
	.head_1 #head_1_item3 ul {
	   list-style: none;
	   padding-left: 0px;
	}
	
	.head_1 #head_1_item3 ul li {
		float: left;
		margin-left: 60px;
		margin-right: 60px;
		color: rgb(240,240,240);
		font-size: 18px;
		font-family: AvenirNextLTW01-Medium,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,sans-serif;
		cursor: pointer;
		display: none;
	}
	
	.head_1 a {
		transition: all .1s ease-in;
		padding-bottom: 3px;
		text-decoration: none;
		color: black;
	}

}

@media (max-width: 850px) {
	.wrapper {
		width: 80%;
		height: 720px;
		margin: 0 auto;
	}
	
	.head {
		width: 100%;
		height: 80px;
		top: 0px;
		left: 0px;
		right: 0px;
		margin: 0px;
		padding: 0px;	
	}
	
	.head_img {
		width: 100%;
		height: 1000px;
		margin: 0px;
		padding: 0px;
		top: 0px;
		left: 0px;
		right: 0px;
	}
	
	.head_img>img {
		width: 100%;
		height: 100%;
		margin: 0px;
		padding: 0px;
	}
	
	.container {
		width: 100%;
		height: 1100px;
		margin: 0px;
	}
	
	.container>div {
		width: 100%;
		height: 20%;
		margin: 0px;
	}
	
	.head_1 {
		width: 100%;
		height: 80px;
		margin: 5px 0px 0px 0px;
		padding: 0px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		transition: all .3s linear;
	}
	
	.head_1 #head_1_item1 {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		width:40%;
		margin: 0px;
		padding: 0px;
	}
	
	.head_1 #head_1_item1 ul {
	   list-style: none;
	   padding-left: 0px;
	}
	
	.head_1 #head_1_item1 ul li {
		float: left;
		margin-right: 30px;
		color: rgb(240,240,240);
		font-size: 18px;
		font-family: AvenirNextLTW01-Medium,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,sans-serif;
		cursor: pointer;
		display: none;
	}
		
	.head_1 #head_1_item2 {
		display: flex;
		justify-content: center;
		align-items: center;
		width:20%;
		margin: 0px;
		padding: 0px;
	}
	
	.head_1 #head_1_item2>div {
		font-size: 25px;
	}
	
	
	
	.head_1 #head_1_item3 {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		width:40%;
		margin: 0px;
		padding: 0px;
	}
	
	.head_1 #head_1_item3 ul {
	   list-style: none;
	   padding-left: 0px;
	}
	
	.head_1 #head_1_item3 ul li {
		float: left;
		margin-left: 60px;
		margin-right: 60px;
		color: rgb(240,240,240);
		font-size: 18px;
		font-family: AvenirNextLTW01-Medium,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,sans-serif;
		cursor: pointer;
		display: none;
	}
	
	.head_1 a {
		transition: all .1s ease-in;
		padding-bottom: 3px;
		text-decoration: none;
		color: black;
	}
	
	.calendar_main {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}