@charset "UTF-8";

body {
	font-family: AvenirNextLTW01-Medium, Helvetica Neue Light,
		Helvetica Neue, Helvetica, Arial, sans-serif;
	margin: 0px;	
}

.wrapper {
	width: 100%;
	margin: 0 auto;
	padding: 0px;
}

@media ( min-width : 1360px) {

	.head {
		width: 100%;
		height: 80px;
		top: 0px;
		left: 0px;
		right: 0px;
		margin: 0px;
		padding: 0px;
	}
	.head_1 {
		width: 100%;
		height: 80px;
		margin: 0px;
		padding: 0px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		transition: all .3s linear;
	}
	.head_1 #head_1_item1 {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		width: 40%;
		margin: 0px;
		padding: 0px;
	}
	.head_1 #head_1_item1 ul {
		list-style: none;
		padding-left: 0px;
	}
	.head_1 #head_1_item1 ul li {
		float: left;
		margin-left: 45px;
		margin-right: 45px;
		color: rgb(240, 240, 240);
		font-size: 18px;
		font-family: AvenirNextLTW01-Medium, Helvetica Neue Light,
			Helvetica Neue, Helvetica, Arial, sans-serif;
		cursor: pointer;
	}
	.head_1 #head_1_item2 {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 20%;
		margin: 0px;
		padding: 0px;
	}
	.head_1 #head_1_item2>div {
		font-size: 25px;
	}
	.head_1 #head_1_item3 {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		width: 40%;
		margin: 0px;
		padding: 0px;
	}
	.head_1 #head_1_item3 ul {
		list-style: none;
		padding-left: 0px;
	}
	.head_1 #head_1_item3 ul li {
		float: left;
		margin-left: 60px;
		margin-right: 60px;
		color: rgb(240, 240, 240);
		font-size: 18px;
		font-family: AvenirNextLTW01-Medium, Helvetica Neue Light,
			Helvetica Neue, Helvetica, Arial, sans-serif;
		cursor: pointer;
	}
	.head_1 a {
		transition: all .1s ease-in;
		padding-bottom: 3px;
		text-decoration: none;
		color: black;
	}
	.login_btn {
		display: flex;
		flex-direction: row;
	}
	.login_charater {
		padding-top: 5px;
	}
	.signup_charater {
		padding-top: 5px;
	}
	.signup_btn {
		display: flex;
		flex-direction: row;
	}
	
	.wrapper .login_div {
		width: 100%;
		display: flex;
		flex-direction: row;
 		justify-content: center;
	}
	
	.wrapper .login_main2 {
		width: 80%;
		height: auto;
		display: flex;
		flex-direction: row;
	}
	.wrapper .login_main2 .login_main2_left {
		width: 35%;
		height: auto;
		background-color: #f5f7fa;
		opacity: 0.8;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	
	.login_main2_left_login {
		width: 310px;
		display: flex;
		justify-content: flex-start;
	}
	
	
	.login_main2_left_loginbtn {
		display: flex;
		align-items: center;
	}
	
	.wrapper .login_main2 .login_main2_right {
		width: 65%;
	}
	.wrapper .login_main2 .login_main2_right img {
		width: 100%;
		height: auto;
		opacity: 0.9;
	}
	.login_main2_left_idpwd {
		margin-top: 10px;
		margin-bottom: 30px;
		width: 290px;
		height: 30px;
		border: 1px solid rgb(50, 50, 50);
		border-radius: 8px;
		font-size: 17px;
		padding-left: 10px;
		background-color: #ffffff;
		background-image: none;
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	}
	.login_button {
		margin-top: 10px;
		font-size: 20px;
		background: white;
		width: 310px;
		height: 40px;
		border: 2px solid black;
		border-radius: 8px;
	}
	
	.login_button:hover {
		cursor: pointer;
	}
	
	.signup_button {
		margin-top: 10px;
		margin-bottom: 10px;
		font-size: 20px;
		background: white;
		width: 310px;
		height: 40px;
		border: 2px solid black;
		border-radius: 8px;
	}
	
	.signup_button:hover {
		cursor: pointer;
	}
	
	.login_main2_left_help {
		width: 310px;
		display: flex;
		flex-direction: row;
	}
	
	.login_main2_left_help_saveid {
		width: 33.3%;
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}
	
	.login_main2_left_help_blank {
		width: 33.3%;
	}
	
	.login_main2_left_help_find {
		width: 33.3%;
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}
	
	.login_main2_left_help_find a {
		color: blue;
		cursor: pointer;
	}
	
	.login_main2_left_help_find a:hover {
		font-weight: bold;
	} 
	
	h1 {
		font-size: 45px;
		margin-top: 60px;
	}
	
	.popup_div {
		display: none;
		width: 350px;
		height: 400px;
		position: absolute;
		background: white;
		z-index: 9999;
	}
	
	.mask {  
	  	position:absolute;  
	  	left:0;
	  	top:0;
	 	z-index:9000;  
	 	background-color:#000;  
	  	display:none;  
	}
	
	.popup_div_main {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	
	.popup_div_main>div {
		text-align: center;
		width: 300px;
		margin-bottom: 20px;
		font-family: AvenirNextLTW01-Medium, Helvetica Neue Light,
		Helvetica Neue, Helvetica, Arial, sans-serif;
	}
	
	.popup_div_main_word1 {
		font-size: 30px;
	}
	
	.popup_div_main_text input {
		width: 250px;
		height: 30px;
		border-radius: 8px;
		margin-bottom: 10px;
		padding-left: 5px;
	}
	
	.popup_div_main_closebtn {
		font-size: 20px;
	}
	
	.popup_div_main_closebtn:hover {
		cursor: pointer;
	}
	
	.popup_div_main_sendbtn {
		border-radius: 8px;
		width: 250px;
		height: 30px;
		background: none;
	}
	
	.popup_div_main_sendbtn:hover {
		cursor: pointer;
	}
}